<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form 
                    class="form-horizontal form-material" 
                    novalidate
                    autocomplete="off"
                    [formGroup]="loginForm"
                    (ngSubmit)="login()" 
                    >
                    <h3 class="box-title m-b-20">¡Bienvenido!</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input 
                                class="form-control" 
                                type="email" 
                                placeholder="Ingresar email"
                                formControlName="email"
                                id="email"
                                required data-validation-required-message="This field is required"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input 
                                class="form-control" 
                                type="password" 
                                placeholder="Ingresar contraseña"
                                formControlName="password"
                                id="password"
                            >

                        </div>
                    </div>

                    <div 
                        class="alert alert-danger"
                        *ngIf="isInvalidCredentials"
                        > 
                        <i class="ti-user"></i> {{responseErrorMessage}}.
                        <button type="button" (click)="closedError()" class="close" data-dismiss="alert" aria-label="Close"> 
                            <span aria-hidden="true">×</span> 
                        </button>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>