<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/income.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Bodegas</h6>
                        <h2 class="m-t-0">953,000</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/expense.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Solicitudes de compra</h6>
                        <h2 class="m-t-0">236,000</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/assets.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Ordenes de compra</h6>
                        <h2 class="m-t-0">987,563</h2></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><span class="lstick m-r-20"></span><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Proveedores</h6>
                        <h2 class="m-t-0">987,563</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- column -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Top de proveedores</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Contacto</th>
                            <th>Correo</th>
                            <th>Cantidad Ordenes</th>
                            <th>Calificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchaseRequest of topPurchaseRequests">
                            <td>{{purchaseRequest.businessName}}</td>
                            <td>{{purchaseRequest.requisitionNumber}}</td>
                            <td>{{purchaseRequest.requisitionNumber}}</td>
                            <td>{{purchaseRequest.requisitionNumber}}</td>
                            <td><span class="label label-info ">Cotizar</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- column -->
</div>

<div class="row">
    <!-- column -->
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Solicitudes de compra</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bodega</th>
                            <th>Nro Solicitud</th>
                            <th>Correo</th>
                            <th>Cotizaciones</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchaseRequest of topPurchaseRequests">
                            <th style="display: none;">{{purchaseRequest.idPurchaseRequest}}</th>
                            <td>{{purchaseRequest.businessName}}</td>
                            <a routerLink="../purchaserequest/{{purchaseRequest.idPurchaseRequest}}"><td>{{purchaseRequest.requisitionNumber}}</td></a>
                            <td>{{purchaseRequest.userCreate.email}}</td>
                            <td>{{purchaseRequest.quotations}}</td>
                            <td>
                                <span [ngClass]="getClassStatusTopPurchaseRequest(purchaseRequest.status.value)">
                                    {{purchaseRequest.status.description}}
                                </span>
                            </td>
                            <td>cotizar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- column -->
</div>