<div class="row animated fadeIn fast"
    *ngIf="!loading">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de cotaizaciones</h4>
                <div class="table-responsive">
                    <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-2133" style="">
                        <thead>
                            <tr>
                                <th class="text-center">N° Cotizacion</th>
                                <th class="text-center">N° Solicitud</th>
                                <th>Cliente</th>
                                <th>Cantidad productos</th>
                                <th>Precio Total</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quotation of quotations">
                                <td>
                                    <a
                                        class="nav-link text-center" 
                                        (click)="redirectTo(quotation.idQuotation)"
                                        >{{quotation.quotationNumber}}
                                    </a>
                                </td>
                                <td>{{quotation.requisitionNumber}}</td>
                                <td>{{quotation.grocer}}</td>
                                <td>{{quotation.quantityProducts}}</td>
                                <td>{{quotation.total}}</td>
                                <td>
                                    <span [ngClass]="getClassStatusQuotation(quotation.status.value)">
                                        {{quotation.status.description}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="generatePage(-1)" class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button (click)="generatePage(+1)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>

    </div>
</div>