

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <app-create-search 
                    (outputProducts)="loadProducts($event)" 
                    (outputTotalProduct)="loadTotalProduct($event)"
                    (outputShoppingCardsPage)="loadShoppingCardsPage($event)"
                    (outputIdCategory)="loadIdCategory($event)"
                    >
                </app-create-search>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card"
            *ngIf="haveData;"
            >
            <div class="card-body">
                <h4 class="card-title">Lista de productos</h4>
                <div class="row button-group">
                    <div class="col-lg-2 col-md-4">
                    </div>
                    <div class="col-lg-2 col-md-4">
                    </div>
                    <div class="col-lg-2 col-md-4">
                    </div>
                    <div class="col-lg-2 col-md-4">
                    </div>
                    <div class="col-lg-2 col-md-4">
                    </div>
                    <div class="col-lg-2 col-md-4">
                       <button 
                            type="button" 
                            class="btn waves-effect waves-light btn-block btn-success"
                            (click)="addShorppingCard()"
                        >
                            Carrito
                        </button>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-2133">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Imagen</th>
                                <th>U. medida</th>
                                <th>Detalle</th>
                                <th>Cantidad</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products">
                                <td class="tablesaw-cell-hidden">{{product.category.name}}</td>
                                <td>
                                    <img 
                                        [src]="product.url"
                                        class="img-product"
                                    >
                                    </td>
                                <td>{{product.typeMeasures}}</td>
                                <td>{{product.detail}}</td>
                                <td>
                                    <input
                                        (click)="addQuantity($event)" 
                                        type="number" 
                                        class="vertical-spin form-control w70" 
                                        id="quantity-{{product.idProduct}}"
                                        [value]="product.idProduct"
                                        min="1"
                                    />
                                </td>
                                <td><div class="checkbox text-center">
                                    <input 
                                        (click)="addProduct($event)"
                                        type="checkbox" 
                                        class="check" 
                                        id="{{product.idProduct}}"
                                        [value]="product.idProduct"
                                    >
                                    <label for="{{product.idProduct}}"></label>
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="generatePage(-1)" class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button (click)="generatePage(+1)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>
        <div class="card"
            *ngIf="!haveData;"
            >
            <app-no-content></app-no-content>
        </div>
    </div>
</div>