<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div 
                class="row"
                *ngIf="!loading"
                >
                <div class="col-md-4">
                    <h5 class="m-t-30 m-b-10">N° Solicitud</h5>
                    <div class="btn-group bootstrap-select">
                        <select 
                            class="selectpicker" 
                            data-style="form-control btn-secondary" 
                            tabindex="-98"
                            >
                            <option [value]=null>...</option>
                            <option 
                                *ngFor="let requisitionNumber of requisitionNumbers" 
                                [value]="requisitionNumber">
                                {{requisitionNumber}}
                              </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="example">
                        <h5 class="box-title m-t-30">Date Range With Time</h5>
                        <input type="text" class="form-control input-daterange-timepicker" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM"> </div>
                </div>
                <div class="col-md-4">
                    <h5 class="m-t-30 m-b-10">Buscar</h5>
                    <button 
                        type="button" 
                        class="btn waves-effect waves-light btn-block btn-info" 
                    >Encuentra tus soliciitudes</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast"
    *ngIf="!loading">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lista de solicitudes de compra</h4>
                <div class="table-responsive">
                    <table class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-2133" style="">
                        <thead>
                            <tr>
                                <th class="text-center">N° Solicitud</th>
                                <th>Creado por</th>
                                <th>Fecha creación</th>
                                <th class="w180">Fecha de entrega
                                    (Tentativa)</th>
                                <th class="w100">Cantidad Productos</th>
                                <th class="w100">Cantidad Cotizaciones</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let purchaseRequest of purchaseRequests">
                                <td>
                                    <a
                                        class="nav-link text-center" 
                                        (click)="redirectTo(purchaseRequest.idPurchaseRequest)"
                                        >{{purchaseRequest.requisitionNumber}}
                                    </a>
                                </td>
                                <td>{{purchaseRequest.userCreate.email}}</td>
                                <td>{{purchaseRequest.dateCreate | slice:0:10 }}</td>
                                <td>{{purchaseRequest.deliveryDate | slice:0:10 }}</td>
                                <td>{{purchaseRequest.products}}</td>
                                <td>{{purchaseRequest.quotations}}</td>
                                <td>
                                    <span [ngClass]="getClassStatusTopPurchaseRequest(purchaseRequest.status.value)">
                                        {{purchaseRequest.status.description}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button (click)="generatePage(-1)" class="btn btn-secondary">Anteriores</button>
                &nbsp;
                <button (click)="generatePage(+1)" class="btn btn-secondary">Siguientes</button>
            </div>
        </div>

    </div>
</div>