<div class="row">
    <div class="col-md-4">
        <h5 class="m-t-30 m-b-10">Palabras claves</h5>
        <input type="text" class="form-control form-control-line">
    </div>    
    <div class="col-md-4">
        <h5 class="m-t-30 m-b-10">Selecciona una categoria</h5>
        <div class="btn-group bootstrap-select">
            <select 
                class="selectpicker" 
                data-style="form-control btn-secondary" 
                tabindex="-98"
                [(ngModel)]="idCategory"
                (change)="selectedCategory(idCategory)"
                
                >
                <option [value]=null>...</option>
                <option 
                    *ngFor="let category of categories" 
                    [value]="category._id">
                    {{category.name}}
                  </option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="m-t-30 m-b-10">Buscar</h5>
        <button 
            type="button" 
            class="btn waves-effect waves-light btn-block btn-info" 
            (click)="getProducts()">Encuentra tus productos</button>
    </div>
</div>